*::after,
*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: monospace;
}

.container{
    margin: 200px auto;
    background-color: black;
    border: 20px solid royalblue;
    border-radius: 10px;
    width: 600px;
}
p{
    font-size: 40px;
    font-weight: 800;
    color: whitesmoke;
    text-align: center;
}